<%- include('header'); %>

<div class="create-account">
  <h1>Create Account</h1>

  <form class="create-account-form" method="POST" action="create-account">

    <input class="email-validate" name="email" placeholder="email"></input>

    <input class="password-validate" name="password" placeholder="password"></input>

    <button class="create-account-submit-button">create account</button>

  </form>
</div>
<script src="form-validation.js"></script>


<%- include('footer'); %>
